<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!--<context:component-scan base-package="spring.impls"/>-->	
    <bean id="LyricistBean1" class="spring.impls.Poushkin" scope="singleton"/>
    <bean id="LyricistBean2" class="spring.impls.Mayakovsky"/>
    <bean id="LyricistBean3" class="spring.impls.Severyanin"/>
    <bean id="StageBean" class="spring.impls.Stage">
        <property name="lyr1" ref="LyricistBean2"></property>
        <property name="lyr2" ref="LyricistBean3"></property>
    </bean>
</beans>
